
h2{
  padding: 3px 0;
  margin: 30px 0;
  background-color: #3c5a53;
  color: azure; 
}

.custom_pr{
  margin: 15px 0;
}
.custom_prb{
  width: 25%;
}
.custom_prb1{
  width: 50%;
}
.custom_prb2{
  width: 75%;
}
